<%= render "layouts/site_header" %>

<div class="subject-training-banner">
  <%= image_tag "javabanner.png", class: "img-responsive" %>
</div>
<div class="container">
  <div class="well training-title">
    <h2 class="text-center">Java Industrial Training Contents</h2>
  </div>
  <div class="well training-terms">
    <p><strong>Courese Duration: </strong>3 Months (2 Hours in a day)</p>
    <p><strong>Course Fees: </strong>Rs.6000/-</p>
    <p><strong>Maximum Batch Size: </strong>5 Students</p>
    <p><strong>Morning Batch Timing: </strong>11:00 AM to 1:00 PM</p>
    <p><strong>Evening Batch Timing: </strong>7:00 PM to 9:00 PM</p>
  </div>
  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Basics of Java
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body training-content">
            <ul>
              <li>Java - What, Where and Why? </li>
              <li>History and Features of Java </li>
              <li>Internals of Java Program</li>
              <li>Difference between JDK,JRE and JVM </li>
              <li>Internal Details of JVM</li>
              <li>Variable and Data Type</li>
              <li>Unicode System</li>
              <li>Naming Convention</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              OOPS Concepts
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body training-content">
            <ul>
              <li>Advantage of OOPs</li>
              <li>Object and Class</li>
              <li>Method Overloading</li>
              <li>Constructor</li>
              <li>static variable, method and block</li>
              <li>this keyword</li>
              <li>Inheritance (IS-A)</li>
              <li>Aggregation and Composition(HAS-A)</li>
              <li>Method Overriding</li>
              <li>Covariant Return Type</li>
              <li>super keyword</li>
              <li>Instance Initializer block</li>
              <li>final keyword</li>
              <li>Runtime Polymorphism</li>
              <li>static and Dynamic binding</li>
              <li>Abstract class and Interface</li>
              <li>Downcasting with instanceof operator</li>
              <li>Package and Access Modifiers</li>
              <li>Encapsulation</li>
              <li>Object class</li>
              <li>Object Cloning</li>
              <li>Java Array</li>
              <li>Call By Value and Call By Reference</li>
              <li>strictfp keyword</li>
              <li>Creating API Document</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Java Strings
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body training-content">
            <ul>
              <li>String : What and Why?</li>
              <li>Immutable String</li>
              <li>String Comparison</li>
              <li>String Concatenation</li>
              <li>Substring</li>
              <li>Methods of String class</li>
              <li>StringBuffer class</li>
              <li>StringBuilder class</li>
              <li>Creating Immutable class</li>
              <li>toString method</li>
              <li>StringTokenizer class</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Exception Handling
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body training-content">
            <ul>
              <li>Exception Handling : What and Why?</li>
              <li>try and catch block</li>
              <li>Multiple catch block</li>
              <li>Nested try</li>
              <li>finally block</li>
              <li>throw keyword</li>
              <li>Exception Propagation</li>
              <li>throws keyword</li>
              <li>Exception Handling with Method Overriding</li>
              <li>Custom Exception</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Nested Classes
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body training-content">
            <ul>
              <li>Nested Class : What and Why?</li>
              <li>Member Inner class</li>
              <li>Annonymous Inner class</li>
              <li>Local Inner class</li>
              <li>static nested class</li>
              <li>Nested Interface</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Multithreading
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body training-content">
            <ul>
              <li>Multithreading : What and Why?</li>
              <li>Life Cycle of a Thread</li>
              <li>Creating Thread</li>
              <li>Thread Schedular</li>
              <li>Sleeping a thread</li>
              <li>Joining a thread</li>
              <li>Thread Priority</li>
              <li>Daemon Thread</li>
              <li>Thread Pooling</li>
              <li>Thread Group</li>
              <li>ShutdownHook</li>
              <li>Performing multiple task by multiple thread</li>
              <li>Garbage Collection</li>
              <li>Runnable class</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Synchronization
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body training-content">
            <ul>
              <li>Synchronization : What and Why?</li>
              <li>synchronized method</li>
              <li>synchronized block</li>
              <li>static synchronization</li>
              <li>Deadlock</li>
              <li>Inter-thread Communication</li>
              <li>Interrupting Thread</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEight">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Input and output
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="panel-body training-content">
            <ul>
              <li>FileOutputStream & FileInputStream</li>
              <li>ByteArrayOutputStream</li>
              <li>SequenceInputStream</li>
              <li>BufferedOutputStream & BufferedInputStream</li>
              <li>FileWriter & FileReader</li>
              <li>CharArrayWriter</li>
              <li>Input from keyboard by InputStreamReader</li>
              <li>Input from keyboard by Console</li>
              <li>Input from keyboard by Scanner</li>
              <li>PrintStream class</li>
              <li>PrintWriter class</li>
              <li>Compressing and Uncompressing File</li>
              <li>Reading and Writing data simultaneously</li>
              <li>DataInputStream and DataOutputStream</li>
              <li>StreamTokenizer class</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingNine">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              AWT and EventHandling
            </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="panel-body training-content">
            <ul>
              <li>AWT Controls</li>
              <li>Event Handling by 3 ways</li>
              <li>Event classes and Listener Interfaces</li>
              <li>Adapter classes</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTen">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Swing
            </a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="panel-body training-content">
            <ul>
              <li>Basics of Swing</li>
              <li>JButton class</li>
              <li>JRadioButton class</li>
              <li>JTextArea class</li>
              <li>JComboBox class</li>
              <li>JTable class</li>
              <li>JColorChooser class</li>
              <li>JProgressBar class</li>
              <li>JSlider class</li>
              <li>Digital Watch</li>
              <li>Graphics in swing</li>
              <li>Displaying Image</li>
              <li>Edit Menu for Notepad</li>
              <li>Open Dialog Box</li>
              <li>Creating Notepad</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEleven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              Rails in more Deep Part 1
            </a>
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
          <div class="panel-body training-content">
            <ul>
              <li>Rails resources</li>
              <li>Rails Scaffolding</li>
              <li><strong>Active Record : Rails Model</strong>
                <ul class="inner-ul">
                  <li>Generating a model</li>
                  <li>Destroying a model</li>
                  <li>Rails Associations</li>
                  <li>Types of associations</li>
                  <li>With and without associations</li>
                  <li>Active record validations</li>
                  <li>Active record callbacks with callback types</li>
                  <li>Active record query interface</li>
                </ul>
              </li>
              <li><strong>Action Controller : Rails Controller</strong>
                <ul class="inner-ul">
                  <li>CRUD Actions</li>
                  <li>Rails Restful Resources</li>
                  <li>Controller Inheritance</li>
                  <li>Controller Parameters</li>
                  <li>Controller Callbacks</li>
                  <li>Controller Filters</li>
                </ul>
              </li>
              <li><strong>Action View : Rails View</strong>
                <ul class="inner-ul">
                  <li>Embedded Ruby</li>
                  <li>Working with Jquery, JavaScript, and Bootstrap in Rails</li>
                  <li>Working with Ajax</li>
                  <li>Rails Asset Pipeline</li>
                </ul>
              </li>
              <li>Action Mailer : Sending Mails with Rails</li>
              <li>Rails Form Helpers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwelve">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              Rails in more Deep Part 2
            </a>
          </h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
          <div class="panel-body training-content">
            <ul>
              <li>Creating Live Project in Rails</li>
              <li>Bootstrap Template Integration in Rails Application</li>
              <li>Introduction to GIT</li>
              <li>Setting up account on GIT</li>
              <li>Creating a repository on GIT</li>
              <li>Working with GIT in Rails Project</li>
              <li>Rails project deployment over GIT</li>
              <li>Introduction to Heroku</li>
              <li>Setting up account on GIT</li>
              <li>Creating an application on Heroku</li>
              <li>Deploying Rails Project on Heroku</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.training-content').attr('unselectable','on')
     .css({'-moz-user-select':'-moz-none',
           '-moz-user-select':'none',
           '-o-user-select':'none',
           '-khtml-user-select':'none', /* you could also put this in a class */
           '-webkit-user-select':'none',/* and add the CSS class here instead */
           '-ms-user-select':'none',
           'user-select':'none'
     }).bind('selectstart', function(){ return false; });
  $('.training-content').bind('contextmenu', function(e) {
    return false;
  });
</script>