<%= render "layouts/site_header" %>

<div class="subject-training-banner">
  <%= image_tag "RailsBanner.jpg", class: "img-responsive" %>
</div>
<div class="container">
  <div class="well">
    <h2 class="text-center">Ruby on Rails Industrial Training Contents</h2>
  </div>
  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Introduction
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body training-content">
            <ul>
              <li>What is Ruby?</li>
              <li>Why Ruby?</li>
              <li>General Purpose of Ruby</li>
              <li>Brief history of Ruby</li>
              <li>Creating basic scripts in ruby</li>
              <li>Demo of sample Ruby programs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Introduction to RVM
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body training-content">
            <ul>
              <li>RVM installation</li>
              <li>RVM commands</li>
              <li>RVM usages</li>
              <li>Ruby installation (RVM/RBENV)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Ruby operators and Ruby shell
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body training-content">
            <ul>
              <li>IRB – Ruby Shell</li>
              <li>Operators in Ruby</li>
              <li>Expressions in Ruby</li>
              <li>Numeric Methods</li>
              <li>Ranges in Ruby</li>
              <li>Control Structures in Ruby (loops, case, break, when)</li>
              <li>Conditional Structure in Ruby (if, if...else, if...elsif)</li>
              <li>String operations in Ruby</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Ruby Datatypes and Variables
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body training-content">
            <ul>
              <li>What is Datatype?</li>
              <li>Numbers, Strings, Arrays, Hashes, Symbols, Boolean</li>
              <li>Types of variables (Global, Class, Instance, Local, Constant, Pesudo)</li>
              <li>Difference between Local, Class and Instance Variables</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Ruby Methods and Modules
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body training-content">
            <ul>
              <li>Basic Ruby methods</li>
              <li>Return values from methods and return statements</li>
              <li>Class methods</li>
              <li>What is method invocation?</li>
              <li>Different ways for method invocation?</li>
              <li>What is method chaining?</li>
              <li>Method chaining with examples</li>
              <li>What are modules in Ruby?</li>
              <li>Why ruby modules?</li>
              <li>Ruby module examples?</li>
              <li>Ruby require and include statement</li>
              <li>Difference between class and module</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Ruby Object Oriented
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body training-content">
            <ul>
              <li>What is object oriented?</li>
              <li>Why object oriented?</li>
              <li>What is Ruby Class with example?</li>
              <li>What is Ruby Object with example?</li>
              <li>Creating Ruby class and objects: Example exercises</li>
              <li>Ruby initialize method</li>
              <li>Reader, Writer, and Accessor methods</li>
              <li>Class inheritance in Ruby</li>
              <li>Abstraction in Ruby</li>
              <li>Encapsulation in Ruby</li>
              <li>Defining attributes in Ruby</li>
              <li>Usage of super in Ruby</li>
              <li>Exception Handling in Ruby</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Front End Development Basics
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body training-content">
            <h1>HTML</h1>
            <ul>
              <li>Introduction to HTML</li>
              <li>Practicing HTML Tags</li>
              <li>Design Some static Web Pages in HTML</li>
            </ul>
            <h1>CSS</h1>
            <ul>
              <li>Introduction to CSS</li>
              <li>Types of CSS</li>
              <li>Practicing CSS with HTML</li>
              <li>Applying CSS rules to HTML Web Pages (of previous section)</li>
            </ul>
            <h1>JavaScript</h1>
            <ul>
              <li>Introduction to JavaScript</li>
              <li>Variables in JavaScript</li>
              <li>Datatypes in JavaScript</li>
              <li>Array in JavaScript</li>
              <li>Control Structures in JavaScript</li>
              <li>Conditional Structures in JavaScript</li>
              <li>Introduction to JQuery</li>
              <li>JQuery DOM </li>
              <li>Practicing JQuery</li>
            </ul>
            <h1>BootStrap</h1>
            <ul>
              <li>Introduction to Responsive Web Design</li>
              <li>What is Bootstrap?</li>
              <li>Why Bootstrap?</li>
              <li>Usage of Bootstrap</li>
              <li>Bootstrap Grid System Explanation</li>
              <li>CSS Media Queries</li>
              <li>Bootstrap JavaScript Components</li>
              <li>Working with bootstrap (Create a static and responsive website using bootstrap)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEight">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Rails Introduction
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="panel-body training-content">
            <ul>
              <li>What is Rails?</li>
              <li>Why Rails?</li>
              <li>What is fullstack framework?</li>
              <li>Strengths of Rails</li>
              <li>DRY: Don’t Repeat Yourself</li>
              <li>COC: Convention Over Configuration</li>
              <li>Rails installation: Windows/Ubuntu</li>
              <li>What is Rubygems?</li>
              <li>Rails Components</li>
              <li>ORM (Object Relation Mapping)  Framework</li>
              <li>Rails Architecture : Model View Controller</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingNine">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Database Basics
            </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="panel-body training-content">
            <ul>
              <li>Basics of Database Management System</li>
              <li>Practicing SQL Statements</li>
              <li>Introduction to Sqlite Database (Rails Default Database)</li>
              <li>Introduction to Postgres Database</li>
              <li>Introduction to MySQL Database</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTen">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Practicing Rails
            </a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="panel-body training-content">
            <ul>
              <li>Creating sample rails application from scratch</li>
              <li>Folder structure explanation of a Rails application</li>
              <li>What is Controller in Rails?</li>
              <li>What is Routing in Rails?</li>
              <li>Rendering Views via Rails Routing</li>
              <li>What is Model in Rails?</li>
              <li>Rails generators</li>
              <li>Rails migrations</li>
              <li>Rails application environments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEleven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              Rails in more Deep Part 1
            </a>
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
          <div class="panel-body training-content">
            <ul>
              <li>Rails resources</li>
              <li>Rails Scaffolding</li>
              <li><strong>Active Record : Rails Model</strong>
                <ul>
                  <li>Generating a model</li>
                  <li>Destroying a model</li>
                  <li>Rails Associations</li>
                  <li>Types of associations</li>
                  <li>With and without associations</li>
                  <li>Active record validations</li>
                  <li>Active record callbacks with callback types</li>
                  <li>Active record query interface</li>
                </ul>
              </li>
              <li><strong>Action Controller : Rails Controller</strong>
                <ul>
                  <li>CRUD Actions</li>
                  <li>Rails Restful Resources</li>
                  <li>Controller Inheritance</li>
                  <li>Controller Parameters</li>
                  <li>Controller Callbacks</li>
                  <li>Controller Filters</li>
                </ul>
              </li>
              <li><strong>Action View : Rails View</strong>
                <ul>
                  <li>Embedded Ruby</li>
                  <li>Working with Jquery, JavaScript, and Bootstrap in Rails</li>
                  <li>Working with Ajax</li>
                  <li>Rails Asset Pipeline</li>
                </ul>
              </li>
              <li>Action Mailer : Sending Mails with Rails</li>
              <li>Rails Form Helpers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwelve">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              Rails in more Deep Part 2
            </a>
          </h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
          <div class="panel-body training-content">
            <ul>
              <li>Creating Live Project in Rails</li>
              <li>Bootstrap Template Integration in Rails Application</li>
              <li>Introduction to GIT</li>
              <li>Setting up account on GIT</li>
              <li>Creating a repository on GIT</li>
              <li>Working with GIT in Rails Project</li>
              <li>Rails project deployment over GIT</li>
              <li>Introduction to Heroku</li>
              <li>Setting up account on GIT</li>
              <li>Creating an application on Heroku</li>
              <li>Deploying Rails Project on Heroku</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.training-content').bind('contextmenu', function(e) {
    return false;
  });
</script>