.serv-img img{
  width:100%;
  height:200px;
}

.subject-training-banner {
  margin-bottom: 2%; margin-top: 10%;
}

.subject-training-banner img{
  width:100%;
  height:200px;
}

@media screen and (max-width:767px){
  .training-terms p{
    font-size: 12px;
  }
  .training-title h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .course-banner img{
    height:200px !important;
  }

  .course-description p {
    margin-bottom:4%;
    text-align: justify;
  }

  .course-title h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }

  .course-description h2 {
    font-weight: bold;
    margin-bottom: 3%;
    font-size:20px;
    text-align: center;
  }

  .subject-training-banner img{
    width:100%;
    height:150px;
  }

  .inner-ul li{
    font-size: 13px;
  }
}

.rails-model {
  background-color: #b71c1c;
  color:white;
}

.rails-model .modal-header{
  border:none;
}

.rails-model .modal-footer{
  border:none;
}

.test-terms li, .test-terms h4, .test-terms p{
  font-size: 20px;
}

.training-terms-model {
  background-color: #79840A;
  color:#fff;
}

.training-terms-model .modal-header {
  border-bottom: none;
}

.training-terms-model .modal-footer {
  border-top: none;
}

.training-terms-model .close {
  float: right;
  font-size: 60px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  margin-top: -13px;
  filter: alpha(opacity=none);
  opacity: none !important;
}

.custom-close {
  opacity: none !important;
}
.course-title {
  margin-top: 3%;
  margin-bottom: 4%;
}

.course-title h1 {
  font-weight: bold;
}
.course-banner img{
  height:400px;
}

.course-description h2 {
  font-weight: bold;
  margin-bottom: 3%;
}

.course-description {
  margin-top:3%;
}

.course-description p {
  margin-bottom:4%;
}
.course-opts {
  border:3px solid #F44336;
}

.learn-opts h1{margin-top: 3%;margin-bottom: 3%;font-size: 22px;font-weight: bold;}

.primary-opts h1{margin-top: 4%;margin-bottom: 3%;font-size: 22px;font-weight: bold;}

.primary-opts .fa {font-size: 22px;color: #F44336;}
.p-span{margin-left: 3%;}
.primary-opts p {margin-top: -2px;}

.learn-opts ul li, .learn-pri-ul li {margin-bottom: 3%;}

.learn-opts-ul, .learn-pri-ul {
  list-style: none;
  padding: 0;
}
.learn-opts-ul li, .learn-pri-ul li {
  padding-left: 1.3em;
}
.learn-opts-ul li:before {
  content: "\f02d"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color:#F44336;
}

.learn-pri-ul li:before {
  content: "\f087"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color:#F44336;
}

.left-side-panel p {
  margin-bottom: 5%;
  font-size:15px;
}

.left-side-panel {margin-top: 4%;}
.left-side-panel p .fa {color:#f44336;font-size:20px;}

.enquiry-form{margin-top:2%;margin-bottom: 3%;background-color: #f44336;border-radius: 3.5%;}
.enquiry-form form{margin-top:4%;margin-bottom: 3%; padding:2%;}
.enquiry-form h4 {text-align: center;color:#fff;}
.form-head {padding-top:5%;}