.serv-img img{
  width:100%;
  height:200px;
}

.subject-training-banner {
  margin-bottom: 2%;
  margin-top: 10%;
}

.subject-training-banner img{
  width:100%;
  height:200px;
}

@media screen and (max-width:767px){
  .training-terms p{
    font-size: 12px;
  }
  .training-title h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .subject-training-banner img{
    width:100%;
    height:150px;
  }

  .inner-ul li{
    font-size: 13px;
  }
}